<table>
  <thead>
    <tr>
      <th>walls</th>
      <th>vb</th>
      <th>v0</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Front overhang</td>
      <td>{{number}}
        <button {{action 'decrNumber' on='click'}}>-</button>
        <button {{action 'incrNumber' on='click'}}>+</button>
      </td>
      <td>
        {{number}}
      </td>
    </tr>
  </tbody>
</table>
